.option {
    border: 1px solid var(--footer);
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.success {
    border: 1px solid green;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.error {
    border: 1px solid red;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}
.question__radio {
    display: flex;
    column-gap: 1rem;
}
