.card {
    position: relative;
    /* border: 1px solid var(--footer); */
    border-radius: 8px;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    padding-bottom: 2rem;
    background: rgba(255, 255, 255, 0.05);

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    /* background: radial-gradient(
        140% 140% at 0% 0%,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0) 100%
    ); */
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(15px);
    z-index: 1;
}

.card__logo {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 0.87rem;
    transition: all 0.3s ease-in-out;
}

.card__logo:hover {
    transform: scale(1.05);
}

.card__content {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.card a {
    background: var(--primary);
    border: 2px solid transparent;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    letter-spacing: 2px;

    font-size: 0.85rem;
    cursor: pointer;
    color: var(--dark);
    transition: all 0.5s ease;
}

.card a:hover {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--pure);
}
