.card {
    position: relative;
    /* border: 1px solid var(--footer); */
    border-radius: 8px;
    padding: 0.5rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
    padding-bottom: 2rem;
    /* background: rgba(255, 255, 255, 0.05); */
    background-image: radial-gradient(
        circle,
        #070606,
        #110e10,
        #151519,
        #151b20,
        #162223
    );
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

.card__logo {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 0.87rem;
    transition: all 0.3s ease-in-out;
}

.card__logo:hover {
    transform: scale(1.05);
}

.card__content {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.card a {
    background: var(--primary);
    border: 2px solid transparent;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    letter-spacing: 2px;

    font-size: 0.85rem;
    cursor: pointer;
    color: var(--dark);
    transition: all 0.5s ease;
}

.card a:hover {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--pure);
}
