.header__img {
    width: 200px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content p {
    width: 70%;
    margin-top: 1rem;
}

.active {
    color: var(--primary);
}

.header__text {
    z-index: -1;
}
