.nav__wrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    margin-bottom: 4rem;
}

nav {
    display: flex;
    justify-content: space-between;
    /* column-gap: 2rem; */
    /* padding-top: 2rem; */
    /* margin-bottom: 4rem; */
    width: 100%;
}

.nav__title {
    font-family: "Lobster", sans-serif;
    font-size: 30px;
}

span.primary {
    color: var(--primary);
}
.nav__link {
    display: flex;
    column-gap: 2rem;
}
a {
    text-decoration: none;
    color: #cbd5e1;
}
