.square {
    width: 800px;
    height: 400px;
}
@media screen and (max-width: 992px) {
    .square {
        width: 600px;
        height: 600px;
    }
}
/* For medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}
