@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --primary: #eebf00;
    --secondary: #232b38;
    --footer: #2d333f;
    --dark: #161616;
    --pure: #fff;
    --light: #eeeeee;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #cbd5e1;
    letter-spacing: 1.5px;
    background-image: radial-gradient(
        circle,
        #070606,
        #110e10,
        #151519,
        #151b20,
        #162223
    );
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 992px) {
    .container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
    :root {
        --big-font-size: 2.25rem;
    }

    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
